
body {
  margin: 0;
  font-family: 'Roboto';
  background-color: #f2f2f2;
  color: #333;
  padding: 0; /* Remove o padding padrão */
  width: 100%;  /* Garante que o body e o html ocupem toda a largura da tela */
  height: 100%; /* Garante que o body ocupe toda a altura */
}

header {
  background-color: #3C5E4B;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

<<<<<<< Updated upstream
<<<<<<< Updated upstream
.left-section {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 40px;
  margin-right: 0.5rem;
}

.logo-text {
  font-size: 1.8rem;
=======
=======
>>>>>>> Stashed changes


.header .logo {
  display: flex;
  align-items: center;
  font-size: 1.8em;
<<<<<<< Updated upstream
>>>>>>> Stashed changes
  font-weight: normal;
}
.header .logo-img {

  width: 40px; /* Ajuste o tamanho da imagem */
  height: auto;
  margin-right: 10px; /* Espaçamento entre o logo e o texto */
=======
  font-weight: normal;
}
.header .logo-img {

  width: 40px; /* Ajuste o tamanho da imagem */
  height: auto;
  margin-right: 10px; /* Espaçamento entre o logo e o texto */
}

.header nav ul {
  list-style: none;
  display: flex;
  gap: 2.5em;
>>>>>>> Stashed changes
}

.center-menu {
  display: flex;
<<<<<<< Updated upstream
  gap: 2rem;
=======
  gap: 2.5em;
>>>>>>> Stashed changes
}

.center-menu a {
  color: #ACACAC;
  text-decoration: none;
<<<<<<< Updated upstream
<<<<<<< Updated upstream
  font-size: 1.5rem;
=======
  font-size: 1.6em;
>>>>>>> Stashed changes
=======
  font-size: 1.6em;
>>>>>>> Stashed changes
}

.right-section {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.icon {
  height: 24px;
  cursor: pointer;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3C5E4B;
<<<<<<< Updated upstream
<<<<<<< Updated upstream
  color: #ACACAC;
  padding: 5em 10rem;
  position: relative;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.5);
=======
  color: white;
  padding: 9em 10em;
  position: relative;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4);
>>>>>>> Stashed changes
=======
  color: white;
  padding: 9em 10em;
  position: relative;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4);
>>>>>>> Stashed changes
}

.hero-text h1 {
  font-size: 2.5em;
  margin: 0.2em 0;
  font-weight: normal;
  color: #ACACAC;
}
.hero-text p {
  font-size: 1.5em;
  margin: 0.2em 0;
  font-weight: normal;
  color: #ACACAC
}

.hero-text button {
  margin-top: 1em;
  padding: 0.7em 1.5em;
<<<<<<< Updated upstream
<<<<<<< Updated upstream
  background-color: #2e4e3f;
  color: #ACACAC;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Sombra inicial do botão */
  transition: box-shadow 0.3s ease; /* Transição suave para quando o botão for hover */
}


.hero-text button:hover {
  box-shadow: 0 9px 20px rgba(0, 0, 0, 0.8); /* Sombra mais forte ao passar o mouse */
=======
  background-color: #3C5E4B;
  color:#ACACAC;
  border: none;
  border-radius: 5px;
  cursor: pointer;
=======
  background-color: #3C5E4B;
  color:#ACACAC;
  border: none;
  border-radius: 5px;
  cursor: pointer;
>>>>>>> Stashed changes
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Sombra ao redor do botão */
  transition: box-shadow 0.3s ease; /* Transição suave para quando o botão for hover */
}
button:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4); /* Aumenta a sombra ao passar o mouse */
<<<<<<< Updated upstream
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
}

.hero-img {
  position: absolute; /* Permite posicionar a imagem livremente dentro da hero */
  bottom: -50px; /* Ajuste para que a imagem se sobreponha à parte branca */
  right: 0; /* Move a imagem para o canto direito */
  max-height: 400px; /* Ajuste o tamanho da imagem conforme necessário */
  width: auto; /* Garante que a imagem mantenha a proporção */
}

section {
  padding: 2em;
  max-width: 1200px;
  margin: auto;
}
.cards {
  display: flex;
  justify-content: center; /* Centraliza os itens */
  gap: 1em; /* Espaçamento entre os botões */
  margin-top: 1.5em;
  flex-wrap: nowrap; /* Impede quebras de linha */
}

.card {
  background-color: #2e4e3f;
  color: white;
  padding: 1.5em;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  width: 150px; /* Ajuste a largura */
  height: 175px; /* Ajuste a altura */
  display: flex;
  flex-direction: column; /* Alinha o texto verticalmente */
  justify-content: center; /* Centraliza o conteúdo verticalmente */
  align-items: center; /* Alinha o conteúdo horizontalmente */
  transition: transform 0.3s ease;
}

.card p {
  font-size: 1.2em;
  font-weight: bold;
}

.card small {
  font-size: 0.9em;
  color: #ACACAC; /* Cor do texto pequeno */
  margin-top: 0.5em;
}

.card:hover {
  transform: translateY(-5px); /* Efeito de elevação ao passar o mouse */
}

.circle-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
  justify-content: center; /* Garante que as imagens fiquem centralizadas */
  margin-top: 1em;
}

.circle-cards .item {
  text-align: center;
  width: 70px;  /* Define a largura do círculo */
  height: 210px; /* Define a altura do círculo */
  flex: 0 1 30%; /* Controla a largura das imagens */
 
}

.circle-cards img {
  width: 65%;
  height: 215px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.circle-cards .item:nth-child(4),
.circle-cards .item:nth-child(5) {
  /* Força as duas últimas imagens a ficarem centralizadas */
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 40px; 
}


.auditorias ul {
  padding-left: 1.5em;
}

.auditoria-content {
  display: flex;
  justify-content: space-between;
  gap: 2em;
  flex-wrap: wrap;
  align-items: center;
}

.auditoria-content img, .ocorrencias img {
  max-width: 100%;
  border: 3px solid #2e4e3f;
  border-radius: 8px;
}

.botoes {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 1em;
}

.contactos {
  background-color: #ffffff;
  text-align: center;
}

.contacto-info p {
  margin: 0.5em 0;
}

.contactos img {
  max-width: 300px;
  margin-top: 1em;
}
